.searchTitleStyle {
  margin: 30px 0;
  font-family: 'Noto Sans CJK TC';
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: rgba(181, 204, 34, 1);
}

.searchSectionStyle {
  display: flex;
  align-items: center;
}

.searchSelectStyle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../assests/icon.png') no-repeat right center;
  background-size: 18px;
  background-position: 140px;
  
  font-size: 18px;
  line-height: 20px;
  width: 175px;
  height: 40px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: rgba(246, 246, 246, 1);

  margin-right: 16px;
}

.searchSelectOptionStyle {

}

.searchInput {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.searchInputStyle {
  background: url('../assests/search_24px.png') no-repeat right center;
  background-size: 18px;
  background-position: 270px;
  width: 277px;
  height: 40px;
  border: none;
  border-radius: 8px;
  padding: 0px 16px;
  background-color: rgba(246, 246, 246, 1);
}
.searchInputStyle::placeholder {
  font-size: 18px;
  line-height: 20px;
  align-items: center;
}

.searchStationOutcomeStyle {
  position: absolute;
  top: 50px;
  left: 0;
  border: none;
  border-radius: 8px;
  padding: 16px 16px;
  background-color: rgba(246, 246, 246, 1);
  max-height: 150px;
  overflow-y: auto;
  z-index: 99999;
}
.searchStationOutcomeListStyle {
  cursor: pointer;
  margin-bottom: 5px;
}
.searchStationOutcomeListStyle:hover {
  color: rgba(181, 204, 34, 1);
}

.searchSelectAreasStyle {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.searchImg {
  width: 502px;
  height: 172px;
}

/*  */

@media  (max-width:850px) {
  .searchImg {
    display: none;
  }
  .searchSectionStyle {
    align-items: flex-start;
    flex-direction: column;
  }
}